.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.div-left {
  float:left;
}

.div-right {
  float:right;
  padding-right: 50px;
}

body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}